html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-weight: normal;
}
header {
    font-weight: bolder;
    font-size: larger;
}
pre {

    background-color: #e7e7e7;
}

#navbar {
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    justify-content: center;
    background-color: #e7e7e7;
} 
pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }
.nav-link {
    background-color: #e7e7e7;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.nav-link:hover {
    background-color: silver;
}
#main-doc {
    padding: 30px 30px 30px 30%;
}
@media only screen and (max-width: 600px) {
    #navbar {
        position: unset;
        width: 100vw;
        height: auto;
    }
    #main-doc {
        padding: 30px;
    }
    #main {
        display: flex;
        flex-direction: column-reverse;
    }
}